*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.out

dumper
/cheat_sheets
/conditions_timing
/conditions/mixed_conditions
/conditions/try
/conditions/try_slurm
/csv_old
/data
/data_from_supercomp

/pet_results

/r_scripts/puste
/r_scripts/mixed_conditions
/r_scripts/temp_sim

/slurm_counts/mixed_conditions
/slurm_final/mixed_conditions
/slurm_test

/understanding

/ignored_folders
.Rproj.user
